SUPABASE_URL=https://sdnenjpeoahksgievvkl.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNkbmVuanBlb2Foa3NnaWV2dmtsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwMjIwNTYsImV4cCI6MjA5ODU5ODA1Nn0.kg2aQR5pOtSX0OTwEnFjr7sPafqg3Iab_RdAAQJ47V4
